/*===== Colors =====*/
/*===== fonts & typos =====*/
/*===== sizes fonts =====*/
/*===== z index =====*/
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Short+Stack&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Short+Stack&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Short+Stack&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Short+Stack&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.container-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10000;
  background: url("./media/basic-pics/restaurant1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(2px) opacity(25%);
          filter: blur(2px) opacity(25%);
}

.logo .img {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 120px;
  height: 110px;
  -webkit-box-shadow: -1px 8px 21px -6px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 8px 21px -6px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.container {
  border: 1px solid #333;
  padding: 2rem;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 3px #333;
          box-shadow: 0 0 3px #333;
  margin-top: 140px;
  height: auto;
}

.container h1 img {
  width: 50px;
  height: 50px;
}

.head-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form-control {
  position: relative;
  margin: 20px 0;
  width: 450px;
}

.form-control input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #333;
  font-size: 18px;
  font-family: inherit;
  padding: 15px 0;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background: transparent;
}

.form-control input:focus,
.form-control input:valid {
  border-bottom-color: rgba(253, 7, 7, 0.973);
}

.form-control label {
  font-size: 18px;
  position: absolute;
  top: 15px;
  left: 0;
  z-index: -1;
}

.form-control input:focus + label,
.form-control input:valid + label {
  color: var rgba(253, 7, 7, 0.973);
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
  font-size: 14px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.remember-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.remember-button .input-check {
  margin: 30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.remember-button .input-check .checkbox {
  -webkit-appearance: none;
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  background: #fff;
  border-radius: 1px solid #333;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.remember-button .input-check .checkbox:checked {
  background: linear-gradient(140deg, #fd0707f8 0%, #f83d3df8 40%, #f53131f8 98%);
}

.remember-button .input-check .checkbox:before {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  height: 75%;
  pointer-events: none;
  background-image: url(./media/svg/check-solid.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.remember-button .input-check .checkbox:checked:before {
  display: block;
}

.label {
  margin-left: 10px;
}

.button {
  margin: 30px 0 0 20px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid red;
  cursor: pointer;
  font-family: inherit;
  outline: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  background: transparent;
  font-size: 18px;
}

.button:hover {
  -webkit-box-shadow: inset 0 0 0 30px red, 1px 1px 3px #333;
          box-shadow: inset 0 0 0 30px red, 1px 1px 3px #333;
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
  color: #eee;
}

.button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-connection {
  padding: 5px 15px;
}

/* Responsive style */
@media screen and (max-width: 768px) {
  .logo .img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 550px) {
  .logo .img {
    width: 80px;
    height: 80px;
  }
  .container {
    width: 85%;
    padding: 1rem;
    margin: 90px auto 0;
  }
  .container h1 img {
    width: 55px;
    height: 45px;
  }
  .head-container p {
    font-size: 13px;
    margin-left: 5px;
  }
  .form-control {
    width: 235px;
  }
  .form-control input {
    font-size: 14px;
  }
  .form-control label {
    font-size: 14px;
  }
  .remember-button .input-check {
    margin: 15px 0 0 0;
  }
  .remember-button .input-check .checkbox {
    width: 20px;
    height: 20px;
  }
  .label label {
    font-size: 12px;
  }
  button {
    margin: 30px 0 0 10px;
    padding: 10px 5px;
    font-size: 13px;
  }
  .btn-connection {
    margin: 20px 0 0;
    font-size: 11px;
  }
}

@media screen and (max-width: 400px) {
  .btn-connection {
    padding: 8px 15px;
  }
}

@media screen and (max-width: 350px) {
  .container {
    padding: 0.5rem;
  }
  .form-control input {
    font-size: 13px;
  }
}

/*===== GOOGLE FONTS =====*/
/*===== BASE =====*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*===== HEADER =====*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 6px 1.5rem;
  background-color: #070d1f;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: #e6e7e9;
}

.header__toggle {
  font-size: 1.5rem;
  color: #e6e7e9;
  cursor: pointer;
}

/*===== NAV =====*/
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #070d1f;
    color: #e6e7e9;
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: 100;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.nav__content {
  height: 100%;
  -ms-grid-rows: max-content 1fr max-content;
      grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
      grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: 0.25rem;
  background-color: #282b3a;
  border-radius: 50%;
  cursor: pointer;
}

.nav__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.25rem;
  margin-bottom: 0.8rem;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.nav__img img {
  width: 76px;
}

.nav__name {
  display: block;
  color: #e6e7e9;
}

.nav__profesion {
  font-size: 0.875rem;
}

.nav__menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__item {
  margin: 2.5rem 0;
}

.nav__link {
  color: #e6e7e9;
  margin-left: 0;
}

.nav__deconnexcion {
  padding-top: 0.5rem;
}

.nav__deconnexcion-icon {
  font-size: 1.2rem;
  color: #e6e7e9;
  margin-right: 1rem;
}

.nav__deconnexcion-icon:hover {
  color: rgba(253, 7, 7, 0.973);
}

.nav .btn-deconec {
  color: white;
  margin: 0;
  padding: 5px 5px;
}

/*Aparecer menu*/
.show {
  left: 0;
}

/*Active menu*/
.active {
  color: rgba(253, 7, 7, 0.973);
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
  .header__logo, .header__toggle {
    display: none;
  }
  .header-img {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__content {
    -ms-grid-columns: (max-content)[3];
        grid-template-columns: repeat(3, -webkit-max-content);
        grid-template-columns: repeat(3, max-content);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__close, .nav__profesion {
    display: none;
  }
  .nav__perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__img {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__img img {
    width: 35px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin: 0 0.25rem;
  }
  .nav__link {
    padding: 0.5rem 3.8rem;
    border-radius: 0.25rem;
    margin-left: 80px;
  }
  .nav__link:hover {
    background-color: rgba(253, 7, 7, 0.973);
  }
  .active {
    background-color: rgba(253, 7, 7, 0.973);
    color: #e6e7e9;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 780px) {
  .header-img {
    display: block;
    width: 50px;
    height: 50px;
  }
}

.page-menu {
  margin: 75px auto 5px;
}

.new__card {
  position: relative;
  width: 350px;
  height: 100%;
  -webkit-box-shadow: 1px 3px 9px 3px rgba(171, 171, 171, 0.75);
          box-shadow: 1px 3px 9px 3px rgba(171, 171, 171, 0.75);
  padding: 2px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 1rem;
  overflow: hidden;
}

.new__card-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5px;
  margin-bottom: 20px;
  font-family: "Hammersmith One", sans-serif;
}

.new__card-date .new__card-phrase {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}

.new__card-date .img-card {
  width: 50px;
  height: 50px;
}

.new__card-date span {
  padding-top: 15px;
  font-size: 12px;
}

/*=============== NEW ===============*/
.container-swiper {
  max-width: 1220px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media screen and (min-width: 992px) {
  .container-swiper {
    margin-left: auto;
    margin-right: auto;
  }
}

.items-card-menu {
  width: 15px;
  height: 15px;
  margin: 4px;
}

.btn-overlay {
  background: none;
  border: 0;
  outline: none;
  -webkit-transform: none;
          transform: none;
  margin: 0;
  padding: 0;
}

.container-overlay {
  position: relative;
}

.overlay {
  position: absolute;
  right: 0;
  left: 40%;
  top: 0;
  width: 100%;
  height: 0%;
  overflow: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.overlay-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overlay .items-card-menu {
  text-align: center;
  z-index: 1200;
  cursor: pointer;
}

.container-overlay:hover .overlay {
  height: 20%;
}

.items-card {
  text-align: center;
  margin-left: 10px;
}

.items-card .items-card-tittle {
  font-family: "Hammersmith One", sans-serif;
}

.items-card .items-card-datejour {
  font-family: "Hammersmith One", sans-serif;
  font-size: 14px;
}

.repas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7.8px;
  overflow: hidden;
  max-width: 100%;
}

.repas .title_repas {
  text-align: left;
  font-family: "Handlee", cursive;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
}

.repas .name_repas-soustitre {
  font-size: 10px;
  font-weight: 300;
  margin-top: -5px;
}

.name_repas {
  font-size: 12px;
  margin: 7px 0 7px 0;
  font-weight: bolder;
  font-family: "Handlee", cursive;
}

.text_repas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.repas-et-soustitre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.prix {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 0.5rem;
  font-size: 14px;
  color: red;
}

.btn-crea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.btn-crea .btn-new-menu {
  margin: 0;
}

/*Class Swiper*/
.swiper-button-next,
.swiper-button-prev {
  height: 4.9rem;
  /* width: 1.7rem; */
  background: transparent;
  color: black;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}

@media screen and (max-width: 900px) {
  .container-swiper {
    max-width: 700px;
  }
  .new__card-date {
    padding-top: 10px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .page-menu {
    margin: -30px auto 0px;
  }
  .header {
    padding: 3px 1.5rem;
  }
  .header-img {
    width: 35px;
    height: 35px;
  }
  .titre-page-menu {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    padding-left: 5px;
  }
  .items-card-title {
    font-size: 13px;
    margin-top: 20px;
  }
  .repas .title_repas {
    font-size: 13px;
    margin-top: 5px;
  }
  .container-swiper {
    max-width: 340px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .overlay .para-swiper {
    width: 70%;
  }
  .new__card {
    position: relative;
    width: 335px;
    padding: 5px;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
  .new__card-date {
    padding-top: 30px;
    margin-bottom: 15px;
  }
  .name_repas {
    font-size: 13px;
    margin: 5px 0 5px 0;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 1rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    height: 14.9rem;
  }
  .new__card-date .new__card-phrase {
    font-size: 14px;
  }
  .btn-crea .btn-new-menu {
    padding: 8px 5px;
    font-size: 12px;
  }
}

@media screen and (max-width: 475px) {
  .repas {
    padding: 0.8px;
  }
  .new__card {
    margin-top: 1rem;
  }
  .new__card-date {
    padding-top: 10px;
    margin-bottom: 10px;
  }
}

/*===== GOOGLE FONTS =====*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 90px;
}

.page-admin {
  position: relative;
  width: 350px;
  height: 100%;
  -webkit-box-shadow: 1px 3px 6px 3px rgba(171, 171, 171, 0.75);
          box-shadow: 1px 3px 6px 3px rgba(171, 171, 171, 0.75);
  background: #fff;
  padding: 12px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 1.8rem;
  overflow: hidden;
}

.top-modif-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-modif-menu .titre-page-menu {
  font-size: 22px;
  margin: 15px auto 15px;
}

.top-modif-menu .logo-restaurant {
  width: 80px;
  height: 80px;
  border: 10px;
  margin: 0 auto;
}

.modif-titre-menu h4 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 2px 10px;
  width: 100%;
  margin: 0 auto;
}

.modif-date-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px;
}

.modif-date-menu i {
  margin-left: 5px;
}

.ajout-ligne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ajout-ligne .btn-new-line {
  border: none;
  outline: none;
  background: none;
  margin: 0;
  margin-left: 3px;
  padding: 0;
  font-weight: bolder;
  color: red;
}

.form-lignes-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-lignes-menu .form-designation-menu {
  margin-top: 20px;
}

.form-lignes-menu ul li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.designation-menu {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 5px 120px 5px 5px;
  border-radius: 3px;
  text-align: left;
  width: 500px;
}

.descriptif-plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -10px !important;
}

.descriptif-plat .link-designation-menu {
  font-size: 11px;
  color: rgba(253, 7, 7, 0.973);
}

.prix-menu {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 7px 10px 5px 5px;
  border-radius: 3px;
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 35px !important;
}

.comment {
  margin-top: 20px;
  background: transparent;
  padding: 5px 20px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid red;
  width: 100%;
  margin: 0 auto;
}

.btn-send-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.btn-send-menu .btn-menu-sent {
  padding: 5px 15px;
  border: 1px solid #000;
  background: #fff;
  border-radius: 14px;
  color: #000;
}

@media screen and (min-width: 802px) {
  .page-admin {
    position: relative;
    width: 800px;
  }
}

@media screen and (max-width: 801px) {
  .page-admin {
    position: relative;
    width: 550px;
  }
  .designation-menu {
    background: #fff;
    color: #000;
    border: 1px solid #000;
    width: 300px;
  }
}

@media screen and (max-width: 451px) {
  .page-admin {
    position: relative;
    width: 350px;
  }
  .designation-menu {
    background: #fff;
    color: #000;
    border: 1px solid #000;
    width: 100%;
  }
}

@media screen and (max-width: 381px) {
  .page-admin {
    position: relative;
    width: 340px;
    padding: 8px;
  }
}

@media screen and (max-width: 349px) {
  .page-admin {
    position: relative;
    width: 315px;
  }
  .designation-menu {
    padding: 5px 100px 5px 5px;
  }
  .prix-menu {
    padding: 5px 5px 5px 5px;
    font-size: 10px;
    margin-bottom: 38px !important;
  }
}

/*===== GOOGLE FONTS =====*/
/*===== BASE =====*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px auto 50px;
}

.container-client-default {
  position: relative;
  width: 350px;
  height: 100%;
  -webkit-box-shadow: 1px 3px 9px 3px rgba(171, 171, 171, 0.75);
          box-shadow: 1px 3px 9px 3px rgba(171, 171, 171, 0.75);
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
}

.container-client-default,
.container-client-parchemin,
.container-client-ardoise {
  margin: 5px;
}

.container-client-parchemin {
  position: relative;
  width: 350px;
  height: 100%;
  -webkit-box-shadow: 1px 3px 9px 3px rgba(171, 171, 171, 0.75);
          box-shadow: 1px 3px 9px 3px rgba(171, 171, 171, 0.75);
  background-image: url(./media/basic-pics/parchemin.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
}

.items-card-client {
  margin: 40px 0 10px 0;
}

.items-card-client h3 {
  font-family: "Hammersmith One", sans-serif;
  letter-spacing: 1px;
  margin: 52px 0px 15px 0;
}

.items-card-client .items-card-datejour {
  font-family: "Hammersmith One", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.repas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7.8px;
  overflow: hidden;
  max-width: 100%;
}

.repas .title_repas {
  text-align: left;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: "Handlee", cursive;
}

.name_repas {
  font-size: 13px;
  margin: 7px 0 7px 0;
  font-weight: bolder;
  font-family: "Handlee", cursive;
}

.name_repas-soustitre-client {
  font-size: 10px;
  font-weight: 400;
  margin-top: -5px;
  font-family: "Poppins", sans-serif;
}

.text_repas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.repas-et-soustitre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 0.5rem;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  color: red;
  font-weight: bold;
}

.new__card-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  margin-bottom: 5px;
}

.new__card-client .new__card-phrase-client {
  font-family: "Hammersmith One", sans-serif;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.new__card-client .img-card-client {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1180px) {
  .page-client {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .top-modif-menu .titre-page-menu {
    margin: 15px 0 20px 0;
  }
  .modif-titre-menu h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .container-client-parchemin,
  .container-client-default,
  .container-client-ardoise {
    width: 339px;
  }
}

.container-client-ardoise {
  position: relative;
  width: 350px;
  height: 100%;
  -webkit-box-shadow: 1px 3px 9px 3px rgba(171, 171, 171, 0.75);
          box-shadow: 1px 3px 9px 3px rgba(171, 171, 171, 0.75);
  background-image: url(./media/basic-pics/ardoise.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  color: #fff;
}

.img-ardoise {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: none;
}
/*# sourceMappingURL=main.css.map */