* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// =================Section top-modif-menu=================//
.main {
  margin-top: 100px;
}
.page-admin {
  position: relative;
  width: 350px;
  height: 100%;
  box-shadow: 1px 3px 9px 3px rgba(171, 171, 171, 0.75);
  background: #fff;
  padding: 12px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 1.8rem;
  overflow: hidden;
}
.top-modif-background {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.top-modif-menu .titre-page-menu {
  font-size: 22px;
  margin: 15px auto 15px;
}

.top-modif-menu .logo-restaurant {
  width: 80px;
  height: 80px;
  border: 10px;
  margin: 0 auto;
}
.modif-titre-menu h4 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  @include admin-border-menu;
  border-radius: 3px;
  padding: 2px 10px;
  width: 100%;
}
.modif-date-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}
.modif-date-menu i {
  margin-left: 5px;
}
// =================Section lignes-menu=================//
.ajout-ligne {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ajout-ligne .btn-new-line {
  border: none;
  outline: none;
  background: none;
  margin: 0;
  margin-left: 3px;
  padding: 0;
  font-weight: bolder;
  color: red;
}
.form-lignes-menu {
  //   display: grid;
  //   grid-template-columns: 1.5fr 0.8fr;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-lignes-menu .form-designation-menu {
  margin-top: 20px;
}
.form-lignes-menu ul li {
  margin-top: 15px;
  margin-bottom: 15px;
}
.designation-menu {
  @include admin-border-menu;
  padding: 5px 90px 5px 5px;
  border-radius: 3px;
  text-align: left;
  width: 500px;
}
.prix-menu {
  @include admin-border-menu;
  padding: 7px 10px 5px 5px;
  border-radius: 3px;
  font-size: 12px;
  margin-left: 5px;
}

// =================Section modif-bottom-menu===========//
.comment {
  margin-top: 20px;
  background: transparent;
  padding: 5px 20px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid red;
}
.btn-send-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 30px;
}
.btn-send-menu .btn-menu-sent {
  padding: 5px 15px;
  border: 1px solid #000;
  background: #fff;
  border-radius: 14px;
  //   outline: none;
  color: #000;
}
// Responsive style
@media screen and (min-width: 602px) {
  .page-admin {
    position: relative;
    width: 650px;
    height: 100%;
  }
}
@media screen and (max-width: 601px) {
  .page-admin {
    position: relative;
    width: 550px;
    height: 100%;
  }
  .designation-menu {
    @include admin-border-menu;
    width: 300px;
  }
}
@media screen and (max-width: 451px) {
  .page-admin {
    position: relative;
    width: 350px;
    height: 100%;
  }
  .designation-menu {
    @include admin-border-menu;
    width: 100%;
  }
}
