/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Short+Stack&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
// =================Section top-modif-menu=================//
.container-administrateur {
  position: absolute;
  width: 100%;
  min-height: 150vh;
  background-image: url(./media/basic-pics/back-admin.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(2px) opacity(0.8);
  z-index: -1000;
}
.main {
  position: relative;
  margin-top: 70px;
  margin-bottom: 55px;
}
.backup {
  position: absolute;
  left: 30px;
}
.back-arrow {
  width: 20px;
  height: 20px;
}
.page-admin {
  position: absolute;
  width: 350px;
  height: 100%;
  box-shadow: 1px 2px 3px 1px rgba(171, 171, 171, 0.75);
  background: #fff;
  padding: 12px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 1.8rem;
  opacity: 1 !important;
  backdrop-filter: brightness(0.5);
  margin: 0 auto;
  overflow: hidden;
  z-index: 1000;
}
.top-modif-background {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
// ====================Popup thème start======================//

.background-btn {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 4.8rem;
  margin-bottom: 1rem;
}

.btn-form {
  display: flex;
  justify-content: flex-end;
}
.btn-background {
  display: inline-block;
  margin-top: 6px;
  background: rgb(19, 19, 19);
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}
.btn-background:hover {
  background: $first-color;
}

.login-background-container {
  position: fixed;
  top: -150%;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-background-container.active {
  top: 0;
}

.login-background-container .form-background {
  // margin: 2rem;
  margin-top: -5rem;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  background: #fff;
  width: 23rem;
  height: 33.5rem;
}
.login-background-container .form-background .choix-back {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #7e7e7e;
  padding: 15px 12px;
  border-radius: 5px;
}
.login-background-container .form-background .form-background-title {
  font-size: 17px;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 13px;
}

.login-background-container .form-background .btn-background {
  display: block;
  width: auto;
  color: #fff;
}

.login-background-container #form-background-close {
  position: absolute;
  top: 1rem;
  right: 3rem;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}
// ============================================//
.themes-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #7e7e7e;
  padding: 15px 15px;
  border-radius: 5px;
}
.container-theme-default {
  position: relative;
  width: 300px;
  height: 340px;
  box-shadow: 1px 3px 9px 3px rgba(171, 171, 171, 0.75%);
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.container-theme-parchemin {
  position: relative;
  width: 300px;
  height: 340px;
  box-shadow: 1px 3px 9px 3px rgba(171, 171, 171, 0.75);
  background-image: url(./media/basic-pics/parchemin.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.container-theme-ardoise {
  position: relative;
  width: 300px;
  height: 340px;
  box-shadow: 1px 3px 9px 3px rgba(171, 171, 171, 0.75);
  background-image: url(./media/basic-pics/ardoise.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.container-theme-default:hover,
.container-theme-parchemin:hover,
.container-theme-ardoise:hover {
  border: 1px solid $first-color;
  transform: scale(1.02);
}
.top-card-menu {
  font-size: 12px;
  color: rgb(0, 0, 0);
}
.top-card-ardoise {
  color: #fff;
}

.items-theme-menu {
  margin: 5px 0 5px 0;
}
.items-theme-menu h3 {
  font-family: "Prix-Grand-titre", sans-serif;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  margin: 10px 0px 10px 0;
  font-size: 13px;
}

.items-theme-menu .items-theme-datejour {
  font-family: $date-font;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 300;
}
.repas-theme {
  display: flex;
  flex-direction: column;
  padding: 3px;
  overflow: hidden;
  max-width: 100%;
}
.repas-theme .title_repas-theme {
  text-align: left;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 12px;
  font-family: "Classic", sans-serif;
  letter-spacing: 0.5px;
  color: rgb(0, 0, 0);
}
.name_repas-theme {
  font-size: 10px;
  margin: 5px 0 4px 0;
  font-weight: bolder;
  font-family: "Classic", sans-serif;
  letter-spacing: 0.3px;
  color: rgb(0, 0, 0);
  text-align: left;
}
.name_repas-soustitre-theme {
  font-size: 8px;
  font-weight: 400;
  margin-top: -1px;
  font-family: "Sous-description", sans-serif;
}
.text_repas-theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.repas-et-soustitre-theme {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.prix-theme {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: "Prix-Grand-titre", sans-serif;
  color: red;
  font-weight: bold;
}
.new__card-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
  margin-bottom: 5px;
}
.new__card-theme .new__card-phrase-theme {
  font-family: "Prix-Grand-titre", sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  margin-top: 6px;
  margin-bottom: 5px;
}
.new__card-theme .img-card-theme {
  width: 35px;
  height: 35px;
}
.datejour-parchemin {
  margin-top: -6px;
}
.title_repas-parchemin {
  text-align: left;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-family: "Rolls", sans-serif;
}
.name_repas-parchemin {
  font-family: "Rolls", sans-serif;
  font-size: 12px;
  font-weight: 200;
}
.prix-parchemin {
  font-family: "Prix-Grand-titre", sans-serif;
}
.name_soustitre-parchemin {
  font-family: "Sous-description", sans-serif;
  font-size: 9px;
}
.phrase_parchemin {
  font-family: "Prix-Grand-titre", sans-serif;
  // margin-top: -8px;
}
// theme ardoise
.top-card-ardoise {
  color: #fff;
}
.items-menu-ardoise h3 {
  color: #fff;
  font-family: "Prix-Grand-titre", sans-serif;
}

.items-menu-ardoise .items-ardoise-datejour {
  font-family: $date-font;
  color: #fff;
  font-size: 10px;
  font-weight: 300;
}
.repas-title-ardoise {
  text-align: left;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Manuscrit", sans-serif;
  color: #fff;
  letter-spacing: 1px;
}
.repas-ardoise {
  font-family: "Manuscrit", sans-serif;
  color: #fff;
  text-align: left;
  font-size: 11.5px;
  letter-spacing: 1.2px;
}
.sous-titre-ardoise {
  margin-top: 1px;
  color: #fff;
  text-align: left;
  font-family: "Sous-description", sans-serif;
}
.prix-ardoise {
  font-family: "Prix-Grand-titre", sans-serif;
}
.card-phrase-ardoise {
  font-family: "Prix-Grand-titre", sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 4px;
  margin-bottom: 9px;
}
.themes-menu {
  max-width: 1220px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media screen and (min-width: 992px) {
  .themes-menu {
    margin-left: auto;
    margin-right: auto;
  }
}
/*Class Swiper*/
.swiper-button-next-theme,
.swiper-button-prev-theme {
  height: 4.9rem;
  width: 2rem;
  background: transparent;
}
.swiper-button-prev-theme {
  margin-left: -40px;
}
.left::after {
  margin-right: 35px;
}
.right:after {
  margin-left: 28px;
}

.swipe-theme::after {
  font-size: 1.5rem !important;
  color: #000;
}

// ===========================================//
// ==================Main logo=================//
.top-modif-menu .titre-page-menu {
  font-size: 22px;
  margin: 15px auto 15px;
}
.logo-restaurant {
  display: flex;
  justify-content: center;
  margin: 20px auto 0;
}
// =========modif logo================//
.profile-pic-div {
  height: 100px;
  width: 100px;
  transform: translate(-5%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey;
}

#photo {
  height: 100%;
  width: 100%;
}

#file {
  display: none;
}

#uploadBtn {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgb(0, 0, 0);
  color: $first-color;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  display: none;
}
.modif-titre-menu .slogan-title {
  @include admin-border-menu;
  font-family: $title-font;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  padding: 4px 10px;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
}
.modif-titre-menu .slogan-title::placeholder {
  color: #000;
  font-weight: 600;
  letter-spacing: 1px;
}
.modif-date-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}
.modif-date-menu label {
  margin-right: 8px;
}
.modif-date-menu .input-date {
  border: none;
  outline: none;
  background: transparent !important;
  font-family: $date-font;
  font-weight: 700;
  font-size: 16px;
}
::-webkit-calendar-picker-indicator {
  padding: 5px;
  cursor: pointer;
  // display: none;
  margin-left: -30px;
}
// =================Section lignes-menu=================//
.ajout-ligne {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ajout-ligne .btn-new-line {
  border: none;
  outline: none;
  background: none;
  margin: 0;
  margin-left: 3px;
  padding: 0;
  font-weight: bolder;
  color: red;
}
.form-lignes-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-lignes-menu .form-designation-menu {
  margin-top: 20px;
}
.designation-menu {
  @include admin-border-menu;
  padding: 5px 120px 5px 5px;
  border-radius: 3px;
  text-align: left;
  width: 500px;
  cursor: pointer;
}
.designation-menu::placeholder {
  color: #000;
  font-family: $body-font;
  font-weight: 600;
}
.descriptif-plat {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.descriptif-plat .link-designation-menu {
  border: none;
  outline: none;
  padding: 5px 120px 5px 5px;
  text-align: left;
  width: 500px;
  cursor: pointer;
}
.descriptif-plat .link-designation-menu::placeholder {
  font-size: 11px;
  color: $first-color;
  font-family: $body-font;
  font-weight: 600;
}
.prix-menu {
  @include admin-border-menu;
  width: 15%;
  padding: 7px 10px 5px 5px;
  border-radius: 3px;
  font-size: 12px;
  margin-left: 5px;
  cursor: pointer;
}
.prix-menu::placeholder {
  color: #000;
  font-weight: 500;
  font-family: $body-font;
}

// =================Section modif-bottom-menu===========//
.comment {
  margin-top: 20px;
  background: transparent;
  padding: 5px 20px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid red;
  width: 100%;
  margin: 0 auto;
  font-family: $phrase-bottom-font;
}
.comment .input-comment {
  border: 0;
  outline: none;
  text-align: center;
  cursor: pointer;
}
.comment .input-comment::placeholder {
  color: #000;
  font-weight: 600;
  font-family: $phrase-bottom-font;
}
.btn-send-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 30px;
}
.btn-send-menu .btn-menu-sent {
  padding: 5px 15px;
  border: 1px solid #000;
  background: #fff;
  border-radius: 14px;
  //   outline: none;
  color: #000;
}
// Responsive style
@media screen and (max-width: 1100px) {
  .login-background-container .form-background {
    padding: 1.5rem 1rem;
    width: 20rem;
    height: auto;
  }
  .container-theme-default,
  .container-theme-parchemin,
  .container-theme-ardoise {
    width: 260px;
  }
}
@media screen and (max-width: 980px) {
  .login-background-container .form-background {
    width: 23rem;
  }
}
@media screen and (min-width: 802px) {
  .page-admin {
    position: relative;
    width: 800px;
  }
}

@media screen and (max-width: 801px) {
  .backup {
    position: absolute;
    top: 17%;
    left: 4px;
  }
  .page-admin {
    position: relative;
    width: 690px;
  }
  .login-background-container {
    top: -150%;
  }
  .designation-menu {
    width: 80%;
  }
  .prix-menu {
    width: 14%;
    font-size: 11px;
  }
}
@media screen and (max-width: 701px) {
  .page-admin {
    position: relative;
    width: 400px;
  }

  .login-background-container .form-background h3 {
    font-size: 15px;
    margin-bottom: 13px;
  }
  .prix-menu {
    width: 32%;
  }
}

@media screen and (max-width: 451px) {
  .page-admin {
    position: relative;
    width: 350px;
  }
  .login-background-container .form-background .form-background-title {
    font-size: 15px;
  }
  .login-background-container .form-background h3 {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .container-theme-default,
  .container-theme-parchemin,
  .container-theme-ardoise {
    width: 255px;
    margin: 0 auto;
  }
  .btn-background {
    margin-right: 35px;
  }
}
@media screen and (max-width: 381px) {
  .page-admin {
    position: relative;
    width: 340px;
    padding: 8px;
  }
  .new__card-theme .new__card-phrase-theme {
    margin-top: 1px;
  }
  .designation-menu {
    padding: 5px 15px 5px 5px;
    width: 70%;
  }
  .prix-menu {
    width: 27%;
  }
}
@media screen and (max-width: 349px) {
  .page-admin {
    position: relative;
    width: 315px;
  }
  .prix-menu {
    padding: 5px 5px 5px 5px;
    font-size: 10px;
  }
}
