/*===== Colors =====*/
$first-color: rgba(253, 7, 7, 0.973);
$dark-color: #070d1f;
$dark-color-alt: #282b3a;
$white-color: #e6e7e9;
/*===== fonts & typos =====*/
$body-font: "Poppins", sans-serif;
$title-font: "Hammersmith One", sans-serif;
$date-font: "Hammersmith One", sans-serif;
$phrase-bottom-font: "Hammersmith One", sans-serif;
$menu-font: "Handlee", cursive;
/*===== sizes fonts =====*/
$normal-font-size: 1rem;
$small-font-size: 0.875rem;
/*===== z index =====*/
$z-fixed: 100;
